.app {
  font-family: "Poppins", sans-serif;
}
a {
  font-size: 14px;
  color: black !important;
}
h4 {
  color: rgba(15, 4, 84, 0.847) !important;
}
p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.632) !important;
}
